
  #logo
  {
  font-size:38px; font-family:Georgia, 'Times New Roman', Times, serif;
  margin-right:30px;
  }
  .lefter
  {
  display:flex; align-items:center;margin-left: 90px;
}
  .location-bar input {
  width: 200px; padding: 10px; border: 1px solid #ccc; border-radius:20px;
  font-size:14px;margin-left: 10px;
  }
  header {
  background-color: #2A5454; display:flex; justify-content:space-between;
  align-items: center; height:90px;
  }
  header ul{
  display:flex; list-style:none; justify-content:center; align-items:center;
  }
  #menu li{
  padding:10px; margin:0 ;color: #ccc;
  
  }

  #menu li:hover{
    opacity: 0.5;

  }

  .diu:hover{
    background-color: black;
    opacity: 0.5;
  }
  #social-links li{
  margin-left: 5px;
  margin-right: 15px;
 
  }
  #menu{
    margin-left: 280px;
  }
 .diu:hover{
    background: black;
  }

